body {
  font-family: Arial, sans-serif;
  background-color: #FEFFF1;
}

h1 {
  font-size: 38px;
  margin-bottom: 10px;
  font-family: fantasy;
}

h2 {
  font-size: 32px;
  font-family: cursive;

}

ul li a, figcaption a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
header ul {
  align-items: center;
  display: flex;
}

header > img {
  width: 150px;

}

#xx {
  border-radius: 100px;
  padding: 20px;
  width: 400px;
  height: 350px;
}
.ingredients-list {

  list-style: armenian inside;
}

ol {
  list-style: circle inside;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(../assets/stars.png);
    vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}


input[type="submit"]:last-child {
    background: gold;
}

input:last-child:hover {
    -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
  margin: 10px 0;
}

h2 + .user_review {
    border-top: 1px solid black;
}

nav {
  display: flex;
}

nav ul li {
}

nav ul li a {
  padding: 20px;
}

body {
  margin: 0 auto;
  width: 60%;
}

aside {
  display: inline-block;
}

.ingredients-list li {
    margin: 15px 0px;
}

input[type="text"], select {
    display: block;
    width: 175px;
}

select {
    margin: 10px 0;
    width: 180px;
}

textarea {
    width: 350px;
    background-color: grey;
}

label {
    display: block;
}
